*{
    padding: 0;
    margin: 0;
}
body{
    background: #DEFFFC ;
    min-width:300px;
}

.row{
   display: grid;
   grid-template-columns: repeat(1,1fr);
   gap: 1em;
   grid-template-rows: minmax(50px, auto);
}
.row div{
    padding: 1em;
}

.col-md-12{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1em;
    grid-auto-rows: minmax(500px,auto);
 }
 .col-md-12 div{
     padding: 1em;
 }
 .col-md-6{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
    grid-auto-rows: minmax(500px,auto);
 }
.col-md-6 div{
     padding: 1em;
 }

 .col-md-4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    grid-auto-rows: minmax(500px,auto);
 }
 .col-md-4 div{
     padding: 1em;
 }
 .center{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-link{
    display: inline-block;
    padding: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
    transition: 1s;
    
}
nav .nav-link:hover{
   color: #51F637 ;
   transition: 1s;
}
button.button-menu {
    display: none;
}

nav{
    background-color: #343a40;
    padding: 10px;
    display: flex;
    justify-content: start;
    box-shadow: 0 0 10px #262727;
    z-index: 1;
    position: fixed;
    width: 100%;
    
}

@media (max-width: 650px){
    nav{
        flex-direction: column;
        z-index: 1;
        position: fixed;
    }
    .ul-nav{
        display: none;
    }
    .ul-nav li{
      width: 95%;
      margin-top: 10px;
      border:1px solid #51F637;
      
    }
    .ul-nav li a :hover{
        background-color: #262727;
    }
    .col-md-4{
        display: block;
    }
    .col-md-12{
        display: block;
    }
    .col-md-6{
        display: block;
    }
    .img-fluid{
        width: 22% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img.img-pri {
        width: 60%;
        position: relative;
        left: 40px;
    }
    button.button-menu {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        right: 0;
        font-size: 30px;
        background: transparent;
        border: none;
        color: white;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        transition: 1s;
    }
    button.button-menu:hover{
        color: #51F637;
        transition: 1s;
    }
}
.img-fluid{
    width: 6%;
   padding-right: 10px;
}
.container{
    background: url('../img/wel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 2px;
}
.title-one{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: rgb(69, 64, 64);
    font-size: 5vh;
 
}
.m-5{
    margin-top: 3em;
    margin-bottom: 3em;
}
img.img-pri {
    width: 60%;
    position: relative;
    left: 60px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #262727;
    font-size: 15px;
    font-weight: 300 ;
    text-align: justify;
    padding: 20px;
}
.ul-nav{
    list-style: none;
  
}
.ul-nav li{
    float: left;
}
.img-plane {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #2e2e2e;
}
.img-plane2 {
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px #2e2e2e;
}
.titlesub{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: rgb(69, 64, 64);
    font-size: 4vh;
}
.conta{
    background-color: #262727;
}
.img-red{
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 0 10px white;
}
.titletegis{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 300;
}
p.text-info {
    color: white;
}